# .env.example
# Copy this file to .env and fill in your actual configuration.

# --- DATABASE ---
# Connection string for your PostgreSQL / TimescaleDB database.
DB_DSN="postgresql://user:password@localhost:5432/binance_data"


# --- SYMBOLS ---
# Comma-separated lists of symbols to track for spot and futures markets.
# Do not use spaces between symbols.
# Example: SPOT_SYMBOLS="btcusdt,ethusdt,bnbusdt"
SPOT_SYMBOLS="1000catusdt,1000cheemsusdt,1000satsusdt,1inchusdt,1mbabydogeusdt,a2zusdt,aaveusdt,aceusdt,achusdt,actusdt,acxusdt,adausdt,aergousdt,aevousdt,agixusdt,agldusdt,aiusdt,aixbtusdt,algousdt,aliceusdt,alpacausdt,alphausdt,alpineusdt,altusdt,ambusdt,animeusdt,ankrusdt,apeusdt,api3usdt,aptusdt,arbusdt,arkmusdt,arkusdt,arpausdt,arusdt,asrusdt,astrusdt,atausdt,atomusdt,auctionusdt,ausdt,avausdt,avaxusdt,aweusdt,axlusdt,axsusdt,babyusdt,badgerusdt,bakeusdt,balusdt,bananas31usdt,bananausdt,bandusdt,batusdt,bbusdt,bchusdt,beamxusdt,belusdt,berausdt,bicousdt,bigtimeusdt,biousdt,blurusdt,blzusdt,bmtusdt,bnbusdt,bntusdt,bnxusdt,bomeusdt,bondusdt,broccoli714usdt,bswusdt,btcstusdt,btcusdt,c98usdt,cakeusdt,catiusdt,celousdt,celrusdt,cetususdt,cfxusdt,cgptusdt,chessusdt,chrusdt,chzusdt,ckbusdt,combousdt,compusdt,cookieusdt,cosusdt,cotiusdt,cowusdt,crvusdt,ctkusdt,ctsiusdt,cusdt,cvcusdt,cvxusdt,cyberusdt,darusdt"
FUTURES_SYMBOLS="1000catusdt,1000cheemsusdt,1000satsusdt,1inchusdt,1mbabydogeusdt,a2zusdt,aaveusdt,aceusdt,achusdt,actusdt,acxusdt,adausdt,aergousdt,aevousdt,agixusdt,agldusdt,aiusdt,aixbtusdt,algousdt,aliceusdt,alpacausdt,alphausdt,alpineusdt,altusdt,ambusdt,animeusdt,ankrusdt,apeusdt,api3usdt,aptusdt,arbusdt,arkmusdt,arkusdt,arpausdt,arusdt,asrusdt,astrusdt,atausdt,atomusdt,auctionusdt,ausdt,avausdt,avaxusdt,aweusdt,axlusdt,axsusdt,babyusdt,badgerusdt,bakeusdt,balusdt,bananas31usdt,bananausdt,bandusdt,batusdt,bbusdt,bchusdt,beamxusdt,belusdt,berausdt,bicousdt,bigtimeusdt,biousdt,blurusdt,blzusdt,bmtusdt,bnbusdt,bntusdt,bnxusdt,bomeusdt,bondusdt,broccoli714usdt,bswusdt,btcstusdt,btcusdt,c98usdt,cakeusdt,catiusdt,celousdt,celrusdt,cetususdt,cfxusdt,cgptusdt,chessusdt,chrusdt,chzusdt,ckbusdt,combousdt,compusdt,cookieusdt,cosusdt,cotiusdt,cowusdt,crvusdt,ctkusdt,ctsiusdt,cusdt,cvcusdt,cvxusdt,cyberusdt,darusdt"


# --- POLLING INTERVALS ---
# Time in seconds between polling cycles for REST API endpoints.
OPEN_INTEREST_POLL_INTERVAL=60
DEPTH_SNAPSHOT_POLL_INTERVAL=60


# --- STREAM CONTROLS ---
# Set these to true or false to enable/disable data stream groups on startup.
ENABLE_WEBSOCKET_SPOT=true
ENABLE_WEBSOCKET_FUTURES=true
ENABLE_OPEN_INTEREST=false
ENABLE_DEPTH_SNAPSHOT=true
